@screen-sm-min:500px;
@screen-md-min: 900px;
@font-size-small: 13px;
@font-size-large: 16px;

@calendar-background: white;
@calendar-text-color: grey;
@controls-border: darkgrey;


@day-background: WhiteSmoke;
@day-color: darkgrey;
@day-color: darkgrey;
@day-border: @calendar-background;

@day-event-color: #666;

@day-selected-background: #333;
@day-selected-range-background: lighten(@day-selected-background, 20%);
@day-selected-price-color: white;

@day-hover-background: @day-selected-background;
@day-hover-price-color: white;

@day-price-color: white;

@day-lowestprice-background: gold;
@day-lowavailability-background: #ff8789;
@day-event-background: darkgrey;
@day-event-number-color: @day-price-color;
@day-number-background: transparent;
@day-number-color: inherit;


@minstay-background: white;
@minstay-color: #333;

#tmsm-availpro-calendar{

    &.calendar-small{
        .hide-small {
            display: none;
        }
        .clndr-controls{
            font-size: ceil(@font-size-small*1.4);
        }
        .day{
            font-size: @font-size-small;
            border: 1px solid @day-border;
        }
        .cell{
            padding: 4px 3px 4px 3px;
        }
    }

    &.calendar-large{

        .hide-large {
            display: none;
        }
        .clndr-controls{
            font-size: ceil(@font-size-large*1.4);
        }
        .day{
            font-size: @font-size-large;
            border: 3px solid @day-border;

        }
        .cell{
            padding: 8px;
        }
    }

    color: @calendar-text-color;

    background: @calendar-background;

    //min-height: 280px;
    //@media(min-width: @screen-sm-min) {
    //    min-height: 375px;
    //}

    .table-calendarprices{
        width: 100%;
        ::-moz-selection {
            background: transparent;
            color:inherit;
        }
        ::selection {
            background: transparent;
            color:inherit;
        }
        .clndr-controls{
            background: white;
            border-bottom: 2px solid @controls-border;
        }

        .header-days{
            .header-day{
                text-align: center;
            }
        }

        .month{
            height: 40px;

            font-weight: normal;
            text-align: center;
            &:first-letter{
                text-transform: uppercase;
            }
            small{
                display: none;
            }
        }

        .clndr-control-button{
            > span {

                &:hover{
                    cursor: pointer;
                }
                &.inactive{
                    opacity: 0.5;
                    cursor: not-allowed;
                }
            }
            &.clndr-control-button-previous{
                text-align: left;
            }
            &.clndr-control-button-next{
                text-align: right;
            }

        }

        .cell{
            vertical-align: middle;
            position: relative;

            + .cell{
                display: none;
            }
        }

        .day-number{
            background: @day-number-background;
            color: @day-number-color;
            //position: absolute;
            //top: 0;
            //left: 0;
            padding: 1px;
            //width: 16px;
            //height: 17px;
            display: inline-block;
            //text-align: center;
        }
        .minstay{
            position: absolute;
            line-height: 14px;
            top: 0;
            right: 0;
            display: none;
            padding: 2px;
            background: @minstay-background;
            color: @minstay-color;
        }

        .day-special{
            position: absolute;
            top: 1px;
            left: 16px;
            padding: 1px;
            width: 16px;
            //display: none;
            &.glyphicon-alert{
                display: block;
            }
        }

        .price{
            font-weight: bold;
            margin: 0;
        }

        tbody{

            .day{


                padding: 0;
                text-align: center;
                vertical-align: top;
                background: @day-background;
                color: @day-color;
                width: 14%;

                .price{
                    color: @day-price-color;
                }
            }

            .day.event{
                .day-number{
                    color:@day-event-number-color;
                }
                .cell{
                    background: @day-event-background;
                    &[data-status='NotAvailable']{
                        display: none;
                    }
                }
                color: @day-event-color;

                &:hover{
                    cursor: pointer;
                }
            }


            .day.past, .day.next-month, .day.inactive, .day.last-month{
                .cell{
                    background: @day-background !important;
                }
                color: @day-color  !important;;

                .cell{
                    .price{
                        visibility: hidden;
                    }
                }

                &.inactive{
                    &:hover{
                        cursor: not-allowed;
                    }
                }
            }

            .day.selected{
                .price{
                    color: @day-selected-price-color;
                }
                &.active{
                    .instead, .price{
                        opacity: 1;
                    }
                }
            }

            .day.selected-hover{
                .cell{
                    background: @day-selected-range-background;
                }
            }

            .day.selected-begin, .day.selected-end {
                .cell{
                    background: @day-selected-background;
                }
            }

            .day.mouseover{
                .cell{
                    background: @day-hover-background;
                }
                .instead, .price{
                    color: @day-hover-price-color;
                }
            }

            .day:not(.selected):not(.past):not(.mouseover){
                .cell[data-lowestprice='1']{
                    background: @day-lowestprice-background;
                }
                .cell[data-availability='1'], .cell[data-availability='2'] {
                    background: @day-lowavailability-background;
                }


            }
            .day:not(.selected):not(.past):not(.mouseover){
                .cell[data-minstay]:not([data-minstay=""]){
                    .minstay{
                        display: inline-block;
                    }
                }
            }



        }

        .cell[data-equal='1'], .cell[data-equal='true']{
            .instead{
                visibility: hidden;
            }
        }


    }
}

#tmsm-availpro-form{
    .tmsm-availpro-form-legend{
        .legend-item{
            margin-bottom: 5px;

            &:before{
                content: '';
                border:1px solid black;
                background: white;
                width: 18px;
                line-height: 7px;
                height: 12px;
                padding: 2px;
                display: inline-block;
                margin-right: 5px;
            }
            &.legend-item-notavailable{
                &:before{
                    background: @day-background;
                }
            }
            &.legend-item-available{
                &:before{
                    background: @day-event-background;
                }
            }
            &.legend-item-lowestprice{
                &:before{
                    background: @day-lowestprice-background;
                }
            }
            &.legend-item-lastrooms{
                &:before{
                    background: @day-lowavailability-background;
                }
            }
            &.legend-item-minstay{
                &:before{
                    content:'⇾';
                    background: @minstay-background;
                    color: @minstay-color;
                }
            }

        }
    }

    #tmsm-availpro-form-checkindateinfo-label, #tmsm-availpro-form-adults-label{
        display: none;
    }
    #tmsm-availpro-form-checkoutdateinfo-label{
        text-align: center;
        width: 20%;
        display: inline-block;
    }
    #tmsm-availpro-form-checkindateinfo{
        width:40%;
    }
    #tmsm-availpro-form-checkoutdateinfo{
        width:40%;
    }

    #tmsm-availpro-form-minstay-message{
        &[data-value='0']{
            display: none;
        }
    }

    #tmsm-availpro-form-adults{
        width: auto;
    }

    #tmsm-availpro-form-nights-message{
        &[data-value='0']{
            display: none;
        }
    }

}

#tmsm-availpro-calendar{
    @media(min-width: @screen-md-min) {
        width: 60%;
        display: inline-block;
    }
}
#tmsm-availpro-form{
    @media(min-width: @screen-md-min) {
        width: 34%;
        float: right;
    }
}